@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #83888F;
}

section,
header {
  width: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
}
.navbar__logo {
  margin-bottom: 44px;
  padding-left: 80px;
  width: 31/30px;
  height: 35px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar__item {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.navbar:hover {
  color: #333d43;
}

.intro__container {
  position: relative;
  z-index: 1;
}
.intro__title {
  position: absolute;
  z-index: 2;
  top: 117px;
  left: 85px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: white;
}
.intro__text {
  position: absolute;
  top: 294px;
  left: 85px;
  z-index: 2;
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.intro__btn {
  position: absolute;
  top: 428px;
  left: 85px;
  z-index: 2;
  background: #66d2cf;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  border: none;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}

.cards__container {
  margin-top: 150px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.cards .card {
  width: 255px;
}
.cards .card__img {
  width: 255px;
  height: 193px;
}
.cards .card__title {
  margin-top: 20px;
  margin-bottom: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
}
.cards .card__text {
  width: 255px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 255px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
}

.choose__bitmap {
  position: relative;
  z-index: 1;
  margin-left: 88px;
  background-color: #333d4b;
  border-radius: 7px;
  width: 1050px;
  height: 500px;
}
.choose__title {
  padding-top: 100px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.choose__text {
  margin-left: 250px;
  margin-top: 32px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  width: 540px;
  opacity: 0.8;
}
.choose__cards__card {
  display: flex;
  gap: 30px;
}
.choose__cards {
  display: flex;
  gap: 30px;
  position: relative;
  top: -150px;
  left: 150px;
  z-index: 2;
  background-color: #0e8784;
  border-radius: 7px;
  text-align: center;
}
.choose .choose__card__img {
  padding-top: 72px;
  padding-left: 106px;
  padding-bottom: 30px;
  padding-right: 113px;
}
.choose .choose__card__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  padding-bottom: 14px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}
.choose .choose__card__text {
  padding-bottom: 48px;
  padding-left: 47px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 255px;
  color: #fefcf7;
}

.works__title {
  margin-top: 326px;
  margin-bottom: 80px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.works__img {
  margin-bottom: 67px;
}
.works__boxs {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 95px;
}
.works__boxs .box__number {
  margin-bottom: 38px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works__boxs .box__title {
  margin-bottom: 42px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  width: 200px;
  color: #333d4b;
}
.works__boxs .box__text {
  width: 285px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.works__btn {
  margin-bottom: 200px;
  margin-top: 64px;
  background: #66d2cf;
  border-radius: 6px;
  width: 217px;
  height: 56px;
  border: none;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}

.footer__background {
  background: #2c343e;
  display: flex;
  align-items: center;
  height: 100px;
}
.footer__logo {
  padding-left: 85px;
  padding-top: 47px;
  padding-bottom: 47px;
  width: 370px;
  height: 134px;
  margin-right: 103px;
}
.footer__menu {
  margin-right: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.footer__link:hover {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.footer__imgs {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=style.css.map */