@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #83888F;
}

section,
header {
  width: 100%;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media (min-width: 767px) and (max-width: 1279px) {
  .container {
    width: 700px;
  }
}
.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
}
.navbar__logo {
  margin-bottom: 43px;
  padding-left: 80px;
  height: 35px;
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.navbar__item {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.navbar:hover {
  color: #333d43;
}

.intro__container {
  position: relative;
  z-index: 1;
}
.intro__title {
  position: absolute;
  z-index: 2;
  top: 117px;
  left: 85px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: white;
}
.intro__text {
  position: absolute;
  top: 214px;
  left: 85px;
  z-index: 2;
  width: 445px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.works__container {
  margin-top: 168px;
  margin-bottom: 144px;
  background: #2c343e;
  border-radius: 10px;
}
.works__img {
  padding-top: 100px;
  padding-left: 85px;
}
.works__boxs {
  display: flex;
  align-items: center;
  justify-content: start;
}
.works .box__number {
  margin-top: 82px;
  padding-left: 85px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works .box__title {
  padding-left: 85px;
  width: 255px;
  margin-top: 38px;
  padding-left: 85px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #fefcf7;
}
.works .box__text {
  margin-top: 42px;
  padding-left: 85px;
  padding-bottom: 99px;
  width: 363px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

.coffee__container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 200px;
}
.coffee__left {
  width: 255px;
}
.coffee .left__matn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
  padding-bottom: 24px;
  padding-top: 24px;
}
.coffee .left__number {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.coffee .left__text {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.coffee__boxs {
  display: block;
}
.coffee .right__boxs {
  margin-top: 56px;
  margin-left: 125px;
  display: flex;
  gap: 23px;
}
.coffee .right__box {
  background: #f4f1eb;
  border-radius: 8px;
}
.coffee .right__box:hover {
  background: #fdd6ba;
  border-radius: 8px;
}
.coffee .right__box:active {
  background: #0e8784;
  color: white;
  border-radius: 8px;
}
.coffee .right__title {
  padding-top: 24px;
  margin-left: 125px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}
.coffee .box__title {
  padding-left: 28px;
  padding-top: 32px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.coffee .box__text {
  padding-right: 28px;
  padding-bottom: 84px;
  margin-top: 24px;
  padding-left: 28px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 232px;
  color: #333d4b;
}

.order__container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 auto;
}
.order__bg {
  margin-top: 88px;
  width: 730px;
  background: #2c343e;
  border-radius: 10px;
}
.order__title {
  padding-top: 27px;
  padding-left: 64px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.order__text {
  padding-bottom: 27px;
  padding-left: 64px;
  padding-right: 64px;
  width: 602px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  width: 500px;
}
.order__span {
  color: #0e8784;
}
.order__btn {
  margin-left: 520px;
  margin-top: 40px;
  width: 217px;
  height: 56px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border: none;
  background: #66d2cf;
  border-radius: 6px;
}

.footer__background {
  margin-top: 168px;
  background: #2c343e;
  display: flex;
  align-items: center;
  height: 100px;
}
.footer__logo {
  padding-left: 85px;
  padding-top: 47px;
  padding-bottom: 47px;
  width: 370px;
  height: 134px;
  margin-right: 103px;
}
.footer__menu {
  margin-right: 368px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.footer__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.footer__link:hover {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.footer__imgs {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=subcribe.css.map */