@import "../block/block";

.navbar {
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
  }
  &__logo {
    margin-bottom: 43px;
    padding-left: 80px;
    height: 35px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__item {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }

  &:hover {
    color: #333d43;
  }
}

.intro {
  &__container {
    position: relative;
    z-index: 1;
  }
  &__title {
    position: absolute;
    z-index: 2;
    top: 117px;
    left: 85px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: white;
  }

  &__text {
    position: absolute;
    top: 214px;
    left: 85px;
    z-index: 2;
    width: 445px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

.works {
  &__container {
    margin-top: 168px;
    margin-bottom: 144px;
    background: #2c343e;
    border-radius: 10px;
  }

  &__img {
    padding-top: 100px;
    padding-left: 85px;
  }

  &__boxs {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .box {
    &__number {
      margin-top: 82px;
      padding-left: 85px;
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 72px;
      line-height: 72px;
      color: #fdd6ba;
    }

    &__title {
      padding-left: 85px;
      width: 255px;
      margin-top: 38px;
      padding-left: 85px;
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      color: #fefcf7;
    }

    &__text {
      margin-top: 42px;
      padding-left: 85px;
      padding-bottom: 99px;
      width: 363px;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #fefcf7;
    }
  }
}

.coffee {
  &__container {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  &__left {
    width: 255px;
  }

  .left {
    &__matn {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 24px;
      padding-bottom: 24px;
      padding-top: 24px;
    }

    &__number {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #83888f;
    }

    &__text {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #83888f;
    }
  }

  &__boxs {
    display: block;
  }

  .right {
    &__boxs {
      margin-top: 56px;
      margin-left: 125px;
      display: flex;
      gap: 23px;
    }

    &__box {
      background: #f4f1eb;
      border-radius: 8px;
    }

    &__box:hover {
      background: #fdd6ba;
      border-radius: 8px;
    }

    &__box:active {
      background: #0e8784;
      color: white;
      border-radius: 8px;
    }

    &__title {
      padding-top: 24px;
      margin-left: 125px;
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #83888f;
    }
  }

  .box {
    &__title {
      padding-left: 28px;
      padding-top: 32px;
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #333d4b;
    }

    &__text {
      padding-right: 28px;
      padding-bottom: 84px;
      margin-top: 24px;
      padding-left: 28px;
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      width: 232px;
      color: #333d4b;
    }
  }
}

.order {
  &__container {
    margin-left: 1000px;
  }
  
  &__bg {
    margin-top: 88px;
    width: 730px;
    background: #2c343e;
    border-radius: 10px;
  }

  &__title {
    padding-top: 27px;
    padding-left: 64px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  &__text {
    padding-bottom: 27px;
    padding-left: 64px;
    padding-right: 64px;
    width: 602px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
    width: 500px;
  }

  &__span {
    color: #0e8784;
  }

  &__btn {
    margin-left: 520px;
    margin-top: 40px;
    width: 217px;
    height: 56px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    border: none;
    background: #66d2cf;
    border-radius: 6px;
  }
}

.footer {
  &__background {
    margin-top: 168px;
    background: #2c343e;
    display: flex;
    align-items: center;
    height: 100px;
  }

  &__logo {
    padding-left: 85px;
    padding-top: 47px;
    padding-bottom: 47px;
    width: 370px;
    height: 134px;
    margin-right: 103px;
  }

  &__menu {
    margin-right: 368px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
  }

  &__link {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }

  &__link:hover {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
  }

  &__imgs {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .hero{
    flex-direction: column;
  }

  .cards{
    grid-template-columns: 1fr;
  }
}